
.sidebar .nav a,
.sidebar .nav a i,
.sidebar .nav p,
.navbar-collapse .navbar-nav .nav-link,
.animation-transition-general,
.sidebar .nav p,
.off-canvas-sidebar .nav p,

.animation-transition-general,
.sidebar .nav p,
.off-canvas-sidebar .nav p
 {
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}
.wrapper.wrapper-full-page {
  min-height: 100vh;
  height: auto;
}

.sidebar,
.off-canvas-sidebar {
 
  transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.sidebar .sidebar-wrapper,
.off-canvas-sidebar .sidebar-wrapper {
  width: 100%;
  min-height: 100%;
  max-height: calc(100vh - 705px);
  z-index: 4;
  position: relative;
  overflow: auto;
}


.sidebar .navbar-minimize,
.off-canvas-sidebar .navbar-minimize {
  position: absolute;
  right: 20px;
  top: 2px;
  opacity: 1;
}

.sidebar .nav,
.off-canvas-sidebar .nav {
  margin-top: 20px;
  display: block;
}

.sidebar .nav li > a + div .nav,
.off-canvas-sidebar .nav li > a + div .nav {
  margin-top: 5px;
}
.sidebar .nav li > a + div .nav li > a,
.off-canvas-sidebar .nav li > a + div .nav li > a {
  margin-top: 0px;
  padding: 8px 8px;
}
.sidebar .nav li > a,
.off-canvas-sidebar .nav li > a {
  margin: 10px 15px 0;
  
  display: block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.62475rem;
  padding: 10px 8px;
  line-height: 1.625rem;
}
.sidebar .nav li:first-child > a,
.off-canvas-sidebar .nav li:first-child > a {
  margin: 0 15px;
}


.sidebar .nav p,
.off-canvas-sidebar .nav p {
  margin: 0;
  line-height: 30px;
  position: relative;
  display: block;
  height: auto;
  white-space: nowrap;
}
.sidebar .nav i,
.off-canvas-sidebar .nav i {
  font-size: 20px;
  float: left;
  margin-right: 12px;
  line-height: 30px;
  width: 34px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
}



.main-panel {
  position: relative;
  float: right;
  width: 100%;
  min-height: 100vh;
  border-top: 2px solid #e14eca;
  background: linear-gradient(#1e1e2f, #1e1e24);
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.main-panel > .content {
  padding: 78px 30px 30px 280px;
  min-height: calc(100vh - 70px);
}
.main-panel > .navbar {
  margin-bottom: 0;
}
.main-panel .header {
  margin-bottom: 50px;
}

.perfect-scrollbar-on .main-panel {
  height: 100%;
  max-height: 100%;
}

.sidebar,
.main-panel,
.sidebar-wrapper {
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 991px) {
  .sidebar,
  .main-panel,
  .sidebar-wrapper {
    -webkit-transition-property: top, bottom, width;
    transition-property: top, bottom, width;
    -webkit-transition-duration: 0.2s, 0.2s, 0.35s;
    transition-duration: 0.2s, 0.2s, 0.35s;
    -webkit-transition-timing-function: linear, linear, ease;
    transition-timing-function: linear, linear, ease;
  }
  
  .navbar-minimize button {
    margin-left: 10px;
  }
  .navbar-minimize button i {
    color: #ffffff;
    font-size: 20px;
  }
}


@media screen and (max-width: 991px) {
  .sidebar {
    position: fixed;
    display: block;
    top: 0;
    height: 100%;
    width: 260px;
    right: auto;
    left: 0;
    margin: 0;
    border-radius: 0;
    z-index: 1032;
    visibility: visible;
    overflow-y: visible;
    padding: 0;
    transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -webkit-transform: translate3d(-260px, 0, 0);
    -moz-transform: translate3d(-260px, 0, 0);
    -o-transform: translate3d(-260px, 0, 0);
    -ms-transform: translate3d(-260px, 0, 0);
    transform: translate3d(-260px, 0, 0);
  }
}
@media screen and (max-width: 991px) and (prefers-reduced-motion: reduce) {
  .sidebar {
    transition: none;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    transition: 0.5s, cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
}
@media screen and (max-width: 991px) and (prefers-reduced-motion: reduce) {
  .wrapper {
    transition: none;
  }
}

@media screen and (max-width: 991px) {
  .main-panel {
    width: 100%;
  }
  .main-panel .content {
    padding-left: 30px;
  }
  .nav-open .main-panel {
    right: 0;
    -webkit-transform: translate3d(260px, 0, 0);
    -moz-transform: translate3d(260px, 0, 0);
    -o-transform: translate3d(260px, 0, 0);
    -ms-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0);
  }
  .nav-open .sidebar {
    transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
}
@media screen and (max-width: 991px) and (prefers-reduced-motion: reduce) {
  .nav-open .sidebar {
    transition: none;
  }
}

@media screen and (max-width: 991px) {
  .nav-open .sidebar:before {
    content: unset;
  }
  .nav-open body {
    position: relative;
    overflow-x: hidden;
  }
  .nav-open .menu-on-right .main-panel {
    -webkit-transform: translate3d(-260px, 0, 0);
    -moz-transform: translate3d(-260px, 0, 0);
    -o-transform: translate3d(-260px, 0, 0);
    -ms-transform: translate3d(-260px, 0, 0);
    transform: translate3d(-260px, 0, 0);
  }
  .nav-open .menu-on-right .navbar-collapse,
  .nav-open .menu-on-right .sidebar {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
  .nav-open .menu-on-right #bodyClick {
    right: 260px;
    left: auto;
  }
  .nav-open .fixed-plugin {
    display: none;
  }
  .menu-on-right .sidebar {
    left: auto;
    right: 0;
    -webkit-transform: translate3d(260px, 0, 0);
    -moz-transform: translate3d(260px, 0, 0);
    -o-transform: translate3d(260px, 0, 0);
    -ms-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0);
  }
  #bodyClick {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 1;
    top: 0;
    right: 0;
    left: 260px;
    content: "";
    z-index: 9999;
    overflow-x: hidden;
    background-color: transparent;
    transition: 0.5s, cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
}


@media screen and (max-width: 991px) {
  .navbar .dropdown-menu {
    position: static !important;
  }
}

@media screen and (max-width: 768px) {
  .main-panel .content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*...............Main App Backgroun .........*/
.wrapper[data-appmode="light"] {
  background: #f2f2f2;
  color: #000;
  font-weight: lighter;
}
.wrapper[data-appmode="light"] .sidebar {
  box-shadow: unset;
}

.wrapper[data-appmode="dark"] {
  background: linear-gradient(#1e1e2f, #1e1e24);
  color: #fff;
  font-weight: lighter;
  /* background: linear-gradient(#1a1e34, #1a1e3f); */
}
.wrapper[data-appmode="dark"] .sidebar {
  box-shadow: none;
}

/*.......................................*/

@media screen and (min-width: 992px) {
  /*.............general Changes .................*/
  .sidebar .nav li a {
    border-radius: unset;
    width: 100%;
  }
  .sidebar[data-theme="light"] {
    background: white;
  }
  .sidebar {
    padding-top: 10px;
  }
  .sidebar[data-submenuconfig="SNS"] .sidebar-wrapper {
    overflow: unset !important;
  }

  .dropdown-menu.menu-right {
    top: 0 !important;
    left: 110%;
  }
  .dropdown-menu::before {
    content: unset;
  }
  .sidebar[data-theme="light"] .nav li > a.active p,
  .sidebar[data-theme="light"] .nav li > a.active i,
  .sidebar[data-theme="light"] .nav li:hover > a p,
  .sidebar[data-theme="light"] .nav li:hover > a i {
    color: rgba(0, 0, 0, 1);
  }
  .sidebar[data-theme="light"] .nav li > a p,
  .sidebar[data-theme="light"] .nav li > a i,
  .sidebar[data-theme="light"] .nav li > a {
    color: rgba(0, 0, 0, 0.8);
  }
  .sidebar[data-theme="light"] .nav li > a.active {
    background: #00000c17;
  }
  .sidebar[data-template="S2"][data-theme="light"] .nav a p {
    background: white;
  }
  .sidebar[data-theme="dark"] {
    /* background: linear-gradient(#1a1e34, #1a1e3f); */
    background: linear-gradient(#1e1e2f, #1e1e24);
  }

  .sidebar[data-theme="dark"] .nav li > a.active p,
  .sidebar[data-theme="dark"] .nav li > a.active i,
  .sidebar[data-theme="dark"] .nav li:hover > a p,
  .sidebar[data-theme="dark"] .nav li:hover > a i,
  .sidebar[data-theme="dark"] .nav li.active > a{
    color: rgba(255, 255, 255, 1);
  }
  .sidebar[data-theme="dark"] .nav li > a p,
  .sidebar[data-theme="dark"] .nav li > a i,
  .sidebar[data-theme="dark"] .nav li > a {
    color: rgba(255, 255, 255, 0.8);
  }
  .sidebar[data-submenuconfig="SNS"] .dropdown-item{
    color:rgba(0, 0, 0, 0.8) !important;
  }
  .sidebar[data-submenuconfig="SNS"] .dropdown-item:hover{
    color:rgba(0, 0, 0, 1) !important;
  }

  .sidebar[data-template="S2"][data-theme="dark"] .nav a p {
    background: #1e1e2f;
    /* background: #1a1e34; */
  }
  .sidebar[data-theme="dark"] .nav li > a.active {
    background: #fbfbfd12;
  }

  .sidebar[data-theme="transparent"] {
    background: transparent;
  }

  .sidebar {
    height: 100%;
    width: 100%;
    margin: 0px;
    position: relative;
    border-radius: 0px;
  }

  .sidebar .nav {
    margin-top: 0px;
  }
  .sidebar .logo {
    display: none;
  }
  .sidebar .nav li {
    position: relative;
    display: flex;
    align-items: center;
  }

  /*........Template 0 .........*/

  /* .sidebar[data-template="S0"] {
    width: 260px;
  } */

  /*...............................*/

  /*........Template 1 .........*/

  .sidebar[data-template="S1"] .nav li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 10px 0;
  }
  .sidebar[data-template="S1"] .nav li {
    justify-content: center;
  }
  .sidebar[data-template="S1"] .nav a i {
    margin-right: 0px;
  }

  .sidebar[data-template="S1"] .nav p:nth-of-type(2) {
    line-height: 0px;
  }
  /*...............................*/

  /*........Template 2 .........*/

  .sidebar[data-template="S2"] .nav a i {
    margin-right: 0px;
  }
  .sidebar[data-template="S2"] .nav a p {
    position: absolute;
    left: 170%;
    background: #1e1e2d;
    border-radius: 5px;
    padding: 0px 10px;
    opacity: 0;
    transition: width 500ms;
    pointer-events: none;
  }
  .sidebar[data-template="S2"] .nav li:hover > a p {
    opacity: 1;
  }

  .sidebar[data-template="S2"] .nav li > a {
    display: flex;
    justify-content: center;
  }
  .sidebar[data-template="S2"] .nav li {
    justify-content: center;
  }


  .sidebar[data-template="S2"] .sidebar-wrapper {
    overflow: unset !important;
  }

  /*...............................*/

  /*.............Link Template 0 .................*/
  .sidebar[data-linktemplate="SLT0"] .nav li > a.active {
    background: transparent !important;
  }

  /*.................. .................*/
  /*.............Link Template 1 .................*/

  .sidebar[data-template="S2"][data-linktemplate="SLT1_ROUND"] .nav li > a {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  .sidebar[data-linktemplate="SLT1_ROUNDED"] .nav li > a {
    border-radius: 5px;
  }

  /*............. .................*/
  /*.............Link Template 2 .................*/

  .sidebar[data-linktemplate="SLT2"] .nav li > a {
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  /*............. .................*/
}
