.appcontainer:not([data-topnavsize$="S"]) .app-brand:not([data-grid="S2"]) .brand-img{
    padding:15px;
}

 .brand-img{
    padding:15px;
}
.app-brand[data-grid="S0"] .brand-img{
    padding:22px;
}
.app-brand[data-grid="S0"] .brand-img img{
    width: unset;
    padding: unset;
}
