[data-appmode="light"] {
  background: #f5f6fa;
}
[data-appmode="light"] .navbar.navbar-transparent .navbar-brand {
  color: #1d253b;
}
[data-appmode="light"] .navbar.navbar-transparent .navbar-toggler-bar {
  background: #1d253b;
}
[data-appmode="light"] .navbar.navbar-transparent .navbar-nav li a:not(.dropdown-item) {
  color: #1d253b;
}
[data-appmode="light"]
  .navbar.navbar-transparent
  .navbar-nav
  li
  a:not(.dropdown-item)
  i {
  color: #1d253b;
}
[data-appmode="light"] .navbar.navbar-transparent .navbar-minimize button i {
  color: #1d253b;
}
[data-appmode="light"] .navbar.navbar-transparent .search-bar.input-group i {
  color: #1d253b;
}
[data-appmode="light"]
  .navbar.navbar-transparent
  .search-bar.input-group
  .form-control {
  color: #344675;
}
[data-appmode="light"]
  .navbar.navbar-transparent
  .search-bar.input-group
  .form-control::placeholder {
  color: #9a9a9a;
}
[data-appmode="light"] .sidebar {
  box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}
[data-appmode="light"] .sidebar p {
  color: rgba(255, 255, 255, 0.8);
}
[data-appmode="light"] .main-panel {
  background: #f5f6fa;
}
[data-appmode="light"] h1,
[data-appmode="light"] h2,
[data-appmode="light"] h3,
[data-appmode="light"] h4,
[data-appmode="light"] h5,
[data-appmode="light"] h6,
[data-appmode="light"] p,
[data-appmode="light"] ol li,
[data-appmode="light"] ul li,
[data-appmode="light"] pre {
  color: #1d253b;
}
[data-appmode="light"] .font-icon-detail i {
  color: #222a42;
}
[data-appmode="light"] .btn:not([data-action]):hover {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
[data-appmode="light"] .btn-neutral.btn-link {
  color: rgba(34, 42, 66, 0.7);
}
[data-appmode="light"] .form-control::-moz-placeholder {
  color: rgba(34, 42, 66, 0.4);
  opacity: 1;
  filter: alpha(opacity=100);
}
[data-appmode="light"] .form-control:-moz-placeholder {
  color: rgba(34, 42, 66, 0.4);
  opacity: 1;
  filter: alpha(opacity=100);
}
[data-appmode="light"] .form-control::-webkit-input-placeholder {
  color: rgba(34, 42, 66, 0.4);
  opacity: 1;
  filter: alpha(opacity=100);
}
[data-appmode="light"] .form-control:-ms-input-placeholder {
  color: rgba(34, 42, 66, 0.4);
  opacity: 1;
  filter: alpha(opacity=100);
}
[data-appmode="light"] .has-danger .form-control,
[data-appmode="light"] .has-danger .input-group-prepend .input-group-text {
  border-color: #ec250d;
}
[data-appmode="light"] .input-group-prepend .input-group-text {
  border-color: rgba(29, 37, 59, 0.5);
  color: #1d253b;
}
[data-appmode="light"] .form-control {
  color: #222a42;
  border-color: rgba(29, 37, 59, 0.5);
}
[data-appmode="light"] .form-control:focus {
  border-color:#4285F4;
}
[data-appmode="light"] .form-group.no-border .form-control,
[data-appmode="light"]
  .form-group.no-border
  .form-control
  + .input-group-prepend
  .input-group-text,
[data-appmode="light"]
  .form-group.no-border
  .form-control
  + .input-group-append
  .input-group-text,
[data-appmode="light"] .form-group.no-border .input-group-prepend .input-group-text,
[data-appmode="light"] .form-group.no-border .input-group-append .input-group-text,
[data-appmode="light"] .input-group.no-border .form-control,
[data-appmode="light"]
  .input-group.no-border
  .form-control
  + .input-group-prepend
  .input-group-text,
[data-appmode="light"]
  .input-group.no-border
  .form-control
  + .input-group-append
  .input-group-text,
[data-appmode="light"] .input-group.no-border .input-group-prepend .input-group-text,
[data-appmode="light"] .input-group.no-border .input-group-append .input-group-text {
  background-color: rgba(222, 222, 222, 0.3);
}
[data-appmode="light"] .form-group.no-border .form-control:focus,
[data-appmode="light"] .form-group.no-border .form-control:active,
[data-appmode="light"] .form-group.no-border .form-control:active,
[data-appmode="light"]
  .form-group.no-border
  .form-control
  + .input-group-prepend
  .input-group-text:focus,
[data-appmode="light"]
  .form-group.no-border
  .form-control
  + .input-group-prepend
  .input-group-text:active,
[data-appmode="light"]
  .form-group.no-border
  .form-control
  + .input-group-prepend
  .input-group-text:active,
[data-appmode="light"]
  .form-group.no-border
  .form-control
  + .input-group-append
  .input-group-text:focus,
[data-appmode="light"]
  .form-group.no-border
  .form-control
  + .input-group-append
  .input-group-text:active,
[data-appmode="light"]
  .form-group.no-border
  .form-control
  + .input-group-append
  .input-group-text:active,
[data-appmode="light"]
  .form-group.no-border
  .input-group-prepend
  .input-group-text:focus,
[data-appmode="light"]
  .form-group.no-border
  .input-group-prepend
  .input-group-text:active,
[data-appmode="light"]
  .form-group.no-border
  .input-group-prepend
  .input-group-text:active,
[data-appmode="light"]
  .form-group.no-border
  .input-group-append
  .input-group-text:focus,
[data-appmode="light"]
  .form-group.no-border
  .input-group-append
  .input-group-text:active,
[data-appmode="light"]
  .form-group.no-border
  .input-group-append
  .input-group-text:active,
[data-appmode="light"] .input-group.no-border .form-control:focus,
[data-appmode="light"] .input-group.no-border .form-control:active,
[data-appmode="light"] .input-group.no-border .form-control:active,
[data-appmode="light"]
  .input-group.no-border
  .form-control
  + .input-group-prepend
  .input-group-text:focus,
[data-appmode="light"]
  .input-group.no-border
  .form-control
  + .input-group-prepend
  .input-group-text:active,
[data-appmode="light"]
  .input-group.no-border
  .form-control
  + .input-group-prepend
  .input-group-text:active,
[data-appmode="light"]
  .input-group.no-border
  .form-control
  + .input-group-append
  .input-group-text:focus,
[data-appmode="light"]
  .input-group.no-border
  .form-control
  + .input-group-append
  .input-group-text:active,
[data-appmode="light"]
  .input-group.no-border
  .form-control
  + .input-group-append
  .input-group-text:active,
[data-appmode="light"]
  .input-group.no-border
  .input-group-prepend
  .input-group-text:focus,
[data-appmode="light"]
  .input-group.no-border
  .input-group-prepend
  .input-group-text:active,
[data-appmode="light"]
  .input-group.no-border
  .input-group-prepend
  .input-group-text:active,
[data-appmode="light"]
  .input-group.no-border
  .input-group-append
  .input-group-text:focus,
[data-appmode="light"]
  .input-group.no-border
  .input-group-append
  .input-group-text:active,
[data-appmode="light"]
  .input-group.no-border
  .input-group-append
  .input-group-text:active {
  background-color: rgba(222, 222, 222, 0.5);
}
[data-appmode="light"]
  .form-group.no-border
  .form-control:focus
  + .input-group-prepend
  .input-group-text,
[data-appmode="light"]
  .form-group.no-border
  .form-control:focus
  + .input-group-append
  .input-group-text,
[data-appmode="light"]
  .input-group.no-border
  .form-control:focus
  + .input-group-prepend
  .input-group-text,
[data-appmode="light"]
  .input-group.no-border
  .form-control:focus
  + .input-group-append
  .input-group-text {
  background-color: transparent;
}
[data-appmode="light"] .input-group[disabled] .input-group-prepend .input-group-text,
[data-appmode="light"] .input-group[disabled] .input-group-append .input-group-text {
  background-color: #222a42;
}
[data-appmode="light"] .form-control[disabled],
[data-appmode="light"] .form-control[readonly],
[data-appmode="light"] fieldset[disabled] .form-control {
  background: #e3e3e3;
  border-color: rgba(29, 37, 59, 0.3);
}
[data-appmode="light"] .input-group-focus .input-group-prepend .input-group-text,
[data-appmode="light"] .input-group-focus .input-group-append .input-group-text,
[data-appmode="light"] .input-group-focus .form-control {
  border-color:#4285F4;
}
[data-appmode="light"]
  .input-group-focus.no-border
  .input-group-prepend
  .input-group-text,
[data-appmode="light"]
  .input-group-focus.no-border
  .input-group-append
  .input-group-text {
  background-color: rgba(222, 222, 222, 0.5);
}
[data-appmode="light"] .input-group-prepend .input-group-text {
  border-right: none;
}
[data-appmode="light"] .input-group-append .input-group-text {
  border-left: none;
}
[data-appmode="light"] .has-danger .form-control:focus,
[data-appmode="light"]
  .has-success.input-group-focus
  .input-group-append
  .input-group-text,
[data-appmode="light"]
  .has-success.input-group-focus
  .input-group-prepend
  .input-group-text {
  border-color: #ec250d;
}
[data-appmode="light"] .has-success .form-control:focus,
[data-appmode="light"]
  .has-success.input-group-focus
  .input-group-append
  .input-group-text,
[data-appmode="light"]
  .has-success.input-group-focus
  .input-group-prepend
  .input-group-text {
  border-color: #00bf9a;
}
[data-appmode="light"] .btn.btn-link:hover,
[data-appmode="light"] .btn.btn-link:active,
[data-appmode="light"] .btn.btn-link:focus {
  color: #9a9a9a !important;
}
[data-appmode="light"] .btn-group .btn.active {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
[data-appmode="light"] .card:not(.card-white) {
  background: #ffffff;
  box-shadow: 0 1px 15px 0 rgba(123, 123, 123, 0.05);
}
[data-appmode="light"] .card:not(.card-white) .card-header {
  color: #222a42;
}
[data-appmode="light"] .card:not(.card-white) .card-header a[data-toggle="collapse"] {
  color: #222a42;
}
[data-appmode="light"] .card:not(.card-white) .card-header .card-title,
[data-appmode="light"] .card:not(.card-white) .card-body .card-title {
  color: #1d253b;
}
[data-appmode="light"] .card:not(.card-white) .card-body .card-category,
[data-appmode="light"] .card:not(.card-white) .card-body .card-description {
  color: #1d253b;
}
[data-appmode="light"] .card:not(.card-white) label:not(.btn) {
  color: #344675;
}
[data-appmode="light"] .card:not(.card-white).nav-pills .nav-item .nav-link {
  color: #444444;
  background-color: rgba(222, 222, 222, 0.3);
}
[data-appmode="light"]
  .card:not(.card-white).nav-pills
  .nav-item
  .nav-link:not(.active):hover {
  background: rgba(222, 222, 222, 0.5);
}
[data-appmode="light"] .card:not(.card-white).nav-pills .nav-item .nav-link.active {
  color: #ffffff;
}
[data-appmode="light"] .card:not(.card-white) .tab-content .tab-pane {
  color: #444444;
}
[data-appmode="light"] .card:not(.card-white) .card {
  box-shadow: none;
}
[data-appmode="light"] .card:not(.card-white).card-plain {
  background: transparent;
  box-shadow: none;
}
[data-appmode="light"] .card:not(.card-white).card-tasks .card-body i {
  color: rgba(34, 42, 66, 0.7);
}
[data-appmode="light"] .card:not(.card-white).card-tasks .card-body i:hover {
  color: #222a42;
}
[data-appmode="light"] .table > tbody > tr > td {
  color: rgba(34, 42, 66, 0.7) !important;
}
[data-appmode="light"] .table > thead > tr > th,
[data-appmode="light"] .table > tbody > tr > th,
[data-appmode="light"] .table > tfoot > tr > th,
[data-appmode="light"] .table > thead > tr > td,
[data-appmode="light"] .table > tbody > tr > td,
[data-appmode="light"] .table > tfoot > tr > td {
  border-color: rgba(34, 42, 66, 0.2);
  padding: 12px 7px;
  vertical-align: middle;
}
[data-appmode="light"] .table > thead > tr > th,
[data-appmode="light"] .table button.btn-neutral.btn-link {
  color: rgba(34, 42, 66, 0.7);
}
[data-appmode="light"] .footer ul li a {
  color: #1d253b;
}
[data-appmode="light"] .footer .copyright {
  color: #1d253b;
}
[data-appmode="light"] .progress-container .progress,
[data-appmode="light"] .progress-container.progress.sm .progress {
  background: rgba(34, 42, 66, 0.1);
  box-shadow: 0 0 0 3px rgba(34, 42, 66, 0.1);
}
[data-appmode="light"] .progress-container .progress .progress-value,
[data-appmode="light"] .progress-container.progress.sm .progress .progress-value {
  color: #344675;
}
[data-appmode="light"] .progress-container .progress-badge,
[data-appmode="light"] .progress-container.progress.sm .progress-badge {
  color: #1d253b;
}
[data-appmode="light"] .full-page {
  background: #f5f6fa;
}
[data-appmode="light"] .full-page h1,
[data-appmode="light"] .full-page h2,
[data-appmode="light"] .full-page h3,
[data-appmode="light"] .full-page h4,
[data-appmode="light"] .full-page h5,
[data-appmode="light"] .full-page h6,
[data-appmode="light"] .full-page p,
[data-appmode="light"] .full-page ol li,
[data-appmode="light"] .full-page ul li,
[data-appmode="light"] .full-page pre {
  color: #1d253b;
}
[data-appmode="light"] .full-page .description {
  color: #9a9a9a;
}
[data-appmode="light"] .full-page .footer ul li a {
  color: #1d253b;
}
[data-appmode="light"] .full-page .footer .copyright {
  color: #1d253b;
}
[data-appmode="light"] .nav-pills .nav-item .nav-link:not(.active) {
  background: #d3d7e9;
  color: #1d253b;
}
[data-appmode="light"] .nav-pills .nav-item .nav-link:not(.active):hover {
  background: #cccccc;
}




[data-appmode="light"] .navbar[data-theme="transparent"] .navbar-nav a.nav-link,
  [data-appmode="light"] .navbar[data-theme="transparent"] .search-bar.input-group i
 {
    color: black;
  }

  [data-appmode="light"] .navbar[data-theme="transparent"] .navbar-nav li a > span,
  [data-appmode="light"] .navbar[data-theme="transparent"] .navbar-nav li a > i
 {
    color: rgba(0, 0, 0, 0.8);
  }
  [data-appmode="light"] .navbar[data-theme="transparent"] .navbar-nav li a.active > span,
  [data-appmode="light"] .navbar[data-theme="transparent"] .navbar-nav li a.active > i,
  [data-appmode="light"] .navbar[data-theme="transparent"] .navbar-nav li a:focus > span,
  [data-appmode="light"] .navbar[data-theme="transparent"] .navbar-nav li a:focus > i,
  [data-appmode="light"] .navbar[data-theme="transparent"] .navbar-nav li a:hover > span,
  [data-appmode="light"] .navbar[data-theme="transparent"] .navbar-nav li a:hover > i
  {
    color: black;
  }